.btn {
    &,
    &:link,
    &:visited { /*: link is a psuedo-class. We use them to style elements at a specific state.*/
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s; /* shorthand for transition. all selects all cooridnates on the element*/
    position: relative;
    font-size: $default-font-size;
    margin-bottom: 4rem;

    //Change for the <button> element
    border: none;
    cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px); /*moves element up and down*/
        box-shadow: 0 10px 20px rgba($color-black,.2); /*first value: x second value: y third element: blur fourth value: color*/
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black,.2);
    }

    &--white {
        background-color: $color-white;
        color: $color-gray-dark;
        padding: 15px 40px;

        &::after {
            background-color: $color-white;
        }

    }

    &--green {
        background-color: $color-primary;
        color: $color-white;
        padding: 15px 40px;

        &::after {
            background-color: $color-primary;
        }

    }

    &::after { /*creates a duplicate of the element for you to manipulate*/
    content: ""; /*have to declare content. Even if there is nothing there.*/
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animate {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}